@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Gugi&family=Lato:wght@300&family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style-type: none;
    font-family: 'Roboto';
}
body{
    overflow-x: hidden;
 } 
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header{
    width:100%;
    position: fixed;
}
.header__text{
    display: flex;
    justify-content: center;
}
.title{
    padding-top: 20px;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #fff;
}
.header__menu{
    display: flex;
    justify-content: space-between;
}
.header__menu > li > a{
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.72px;
    color: #FFFFFF;
}
.item__photo {
	background: #000;
    display: flex;
}
.item__photo__card{
    width:50%;  
    background: url(./icons/IMAGE\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}
.item__photo__card__one{
    display: flex;  
    align-items: end;
    justify-content: center;
    padding-bottom: 60px;
    width: 100%;
    height: 100%;
    background: #0707079a;
}
.item__photo__card__text{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.item__photo__card__title{
    font-weight: 400;
    font-size: 69px;
    line-height: 64px;
    letter-spacing: 2.25px;
    color: #FFFFFF;
}
.item__photo__card__subtitle{
    width: 330px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.72px;
    color: #FFFFFF;
}
.item__photo__card__btn{
    width:270px;
    height: 38px;
    background: url(.png);
    border: 1px solid #e2dbdb;
    font-weight: 400;
    font-size: 11px;
    line-height: 21px; 
    letter-spacing: 0.84px;
    color: #fff;
    transition: 1s;
}
.item__photo__card__btn:hover{
    transform: scale(0.9);
}
.item__photo img{
    width: 700px;
    opacity: 0.4;   
}
.page__container{
    display: flex;
    justify-content: center;
    column-gap: 250px;
    padding-top: 80px;
    position: relative;
    color: white;
} 
.page__title{
    padding-left: 60px;
    width: 360px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: black;
}   
.page__photo{
    display: flex;
    column-gap: 15px;
}
.image{
    width:240px ;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page__photo__image__one{
    background: url(./icons/IMAGE\ \(3\).png);
}
.page__photo__image__two{
    background: url(./icons/IMAGE\ \(5\).png);
}
.page__photo__image__three{
    background: url(./icons/IMAGE\ \(4\).png);
}
.page__photo__title__one{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}
.page__photo__subtitle__one{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}
.page__photo__heading__one{
    font-weight: 400;
    font-size: 11px;
    line-height: 21px;
    color:  #676767;
}
.page__extreme__container{
    padding-top: 50px;
    display: flex;
}
.page__picture{
    display: flex;
    align-items: end;
    width: 50%;
    height: 800px;
    background: url(./icons/IMAGE\ \(6\).png);
    background-repeat: no-repeat;
    background-size: cover;
}
.page__picture img{
    width: 680px;
    height: 800px;
}
.page__picture__text{
    margin-left: 35px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.page__picture__title{
    font-weight: 400;
    font-size: 74px;
    line-height: 40px;
    letter-spacing: 2.25px;
    color: #fff;
}
.page__picture__subtitle{
    width: 367px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.72px;
    color: #fff;
}
.page__picture__btn{
    width: 265px;
    height: 38px;
    background: url(.png);
    border: 1px solid #fff;
    font-weight: 400;
    font-size: 11px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.84px;
    color: #FFFFFF;
    transition: 1s;
}
.page__picture__btn:hover{
    transform: scale(0.9);
}
.page__picture__btn img{
    width: 18px;
    height: 11px;
    padding-left: 5px;
}
.page__clothes__container{
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding-top: 80px;
}
.block{
    width: 558px;
    height: 419px;
}
.page__clothes__photo__block{
    background: url(./icons/IMAGE\ \(8\).png);
}
.page__clothes__photo__block__one{
    background: url(./icons/IMAGE\ \(9\).png);
}
.page__clothes__title{
    padding-top: 48px;
    padding-left: 38px;
    font-weight: 400;
    font-size: 29px;
    line-height: 38px;
}
.page__clothes__subtitle{
    padding-top: 30px;
    padding-left: 57px;
    font-weight: 400;
    font-size: 11px;
    line-height: 21px;
}
.page__clothes__title__one{
    padding-top: 48px;
    padding-left: 38px;
    font-weight: 400;
    font-size: 29px;
    line-height: 38px;
}
.page__clothes__subtitle__one{
    padding-top: 30px;
    padding-left: 57px;
    font-weight: 400;
    font-size: 11px;
    line-height: 21px;
}
.page__advanture__container{
    padding-top: 120px;
    display: flex;
    column-gap: 10px;
}
.photo{
    display: flex;
    align-items: end;
    padding-left: 14px;
    padding-bottom: 16px;
    width: 240px;
    height: 240px;
}
.page__advanture__photo{
    background: url(./icons/IMAGE\ \(10\).png);
    background-repeat: no-repeat;
}
.page__advanture__photo__one{
    background: url(./icons/IMAGE\ \(11\).png);
    background-repeat: no-repeat;
}
.page__advanture__photo__two{
    background: url(./icons/IMAGE\ \(12\).png);
    background-repeat: no-repeat;
}
.page__advanture__title{
    width: 400px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 1.92px;
}
.page__advanture__photo{
    display: flex;
    column-gap: 15px;
}
.page__advanture__photo__title{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1.44px;
    color: #FFFFFF;
}
.page__advanture__photo__subtitle{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1.44px;
    color: #FFFFFF;
}
.page__advanture__photo__heading{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1.44px;
    color: #FFFFFF;
}
.page__bestsellers{
    width: 100%;    
    height: 800px;
    background: #23293C;
}
.page__bestsellers__container{
    display: flex;
    column-gap: 100px;
    margin-top: 50px;
}
.page__bestsellers__block{
    display: flex;
    flex-direction: column;
    row-gap: 300px;
}
.page__bestsellers__button{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.page__bestsellers__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.page__bestsellers__btn:hover{
    transform: scale(0.9);
}
.btn{
    padding-left: 15px;
}
.page__bestsellers__title{
    padding-top: 200px;
    font-weight: 400;
    font-size: 67px;
    line-height: 20px;
    letter-spacing: 2.25px;
    color: #fff;
    position: relative;
}
.page__bestsellers__title::after{
    content: '';
    position: absolute;
    width: 260px;
    height: 2px;
    top: 120px;
    left: 187px;
    background: #CDCDCD;
}
.page__bestsellers__subtitle{
    margin-left: 180px;
    font-weight: 400;
    font-size: 10px;
    line-height: 70px;
    letter-spacing: 0.6px;
    color: #191919;
}
.page__bestsellers__heading{
    width: 330px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.72px;
    color: #fff;
}
.page__bestsellers__btn{
    width: 243px;
    height: 38px;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    background: none;
    font-weight: 400;
    font-size: 11px;
    line-height: 21px;
    letter-spacing: 0.84px;
    color: #fff;
    transition: 1s;
}
.page__bestsellers__btn:hover{
    transform: scale(0.9);
}
p{
    padding-top: 100px;
    padding-left: 75px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 1.92px;
    position: relative;
}
p::after{
    position: absolute;
    content: '';
    left: 1147px;;
    width: 200px;
    height: 2px;
    background: #CDCDCD;
}
.page__goods__container{
    margin-top: 30px;
    display: flex;
    column-gap: 50px;
    justify-content: center;
}
.page__goods__title__one{
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.864px;
}
.page__mammut__title{
    padding-top: 147px;
    padding-left: 105px;
}
.page__mammut__conatainer{
    padding-top:28px;   
    display: flex;
    justify-content: center;
}
.page__mammut__photo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 16px;
    column-gap: 16px;
}
.card{
    padding-top:14px ;
    padding-right: 14px;
    display: flex;
    justify-content: end;
    width: 272px;
    height: 340px;
}
.page__mammut__card{
    background: url(./icons/IMAGE\ \(19\).png);
}
.page__mammut__card__one{
    background: url(./icons/IMAGE\ \(21\).png);
    height: 272px;
    background-repeat: no-repeat;
    position: relative;
}
.page__mammut__card__one::after{
    position: absolute;
    content: '';
    top: 655px;
    left: 135px;
    width: 240px;
    height: 2px;
    background: #CDCDCD;
}
.page__mammut__card__two{
    background: url(./icons/IMAGE\ \(23\).png);
}
.page__mammut__card__three{
    background: url(./icons/IMAGE\ \(24\).png);
}
.page__mammut__photo__image{
    width:20px ;
    height:17px ;
}
.page__mammut__photo__one{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-left: 16px;
    position: relative;
}
.page__mammut__photo__one::after{
    position: absolute;
    content: '';
    top: 45px;
    left: 157px;
    width: 235px;
    height: 2px;
    background: #CDCDCD;
}
.btn{
    display: flex;
    justify-content: center;
}
.page__mammut__btn{
    margin-top: 57px;
    width: 181px;
    height: 16px;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.864px;
    padding-bottom: 20px;
    background: #fff;
    border: 1px solid #E1E1E1;
    transition: 1s;
}
.page__mammut__btn:hover{
    transform: scale(0.9);
}
.page__signUp__container{
    padding-top: 119px;
    display: flex;
    flex-direction: column;
    align-items: center
}
.page__signUp__title{
    text-align: center;
    width: 500px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 1.92px;
}
.page__signUp__btn{
    margin-top: 20px;
    width:180px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.864px;
    transition: 1s;
    position: relative;
}
.page__signUp__btn::after{
    position: absolute;
    content: '';
    top: 80px;
    left: 520px;
    width: 245px;
    height: 2px;
    background: #CDCDCD;
}
.page__signUp__btn:hover{
    transform: scale(0.9);
}
.footer{
    width: 100%;
    height: 550px;
    background: #23293C
}
.footer__container{
    margin-top: 144px;
    padding-top: 64px;
    display: flex;
    column-gap: 100px;
    position: relative;
}
.footer__container::after{
    content: '';
    width: 1165px;
    height: 1px;
    background: rgba(204, 204, 204, 0.2);
    position: absolute;
    top: 280px;
}
.footer__menu{
    display: flex;
    column-gap: 242px;
}
.footer__menu__tiile a{
    font-weight: 400;
    font-size: 13px;
    line-height: 32px;
    letter-spacing: 0.864px;
    color: #fff;
}
li > a{
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.864px;
    color: #CDCDCD;
}
.footer__contact{
    padding-top: 160px;
    padding-left: 90px;
    display: flex;
    column-gap: 90px;
}
.footer__contact__block{
    display: flex;
    column-gap: 17px;
}
.footer__contact__block__card{
    column-gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background:#303851;
}
.footer__contact__block__card img{
    width: 20px;
    height: 20px;
}
.footer__contact__block__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__contact__block__title{
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.6px;
    color: #CDCDCD;
}
.footer__block{
    display: flex;
    column-gap: 400px;
}
.footer__block__text{
    margin-top:90px;
    margin-left:90px ;
    display: flex;
    column-gap: 18px;
    position: relative;
}
/* .footer__block__text::after{
    content: '';
    width: 1165px;
    height: 1px;
    background: rgba(204, 204, 204, 0.2);
    position: absolute;
    bottom:60px;
} */
.footer__block__title{
    font-size: 11px;
    line-height: 21px;
    letter-spacing: 0.84px;
    color: #FFFFFF;
}
.footer__block__media{
    margin-top:90px;
    display: flex;
    column-gap: 23px;
}
